<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Test App 1</h1>
    <br />
    <h2>Subheadline</h2>
    <br />
    <%= link_to 'Learn More', '#',class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
